#preamble {
    font-size: 1.2em;
    padding: .5em 0 1em
}

.header {
    font-size: 1.2em;
    padding: 1em 0;
}

body {
    max-width: 50em;
    margin: auto;
    padding: 2em;
    line-height: 1.6;
}

a {
    color: #4183c4;
    text-decoration: underline;

}

.post-title a {
    color: #000;
    text-decoration: none;
}

#preamble a {
    color: #000;
    text-decoration: none;
}
    

a:hover {
    color: #000;
    color: #4183c4;
    background-color: #ddd;
    text-decoration: underline;
}

a:visited {
    text-decoration: underline;
}
    

.post-item {
    display: flex;
    margin: 0em 0em 2em .5em;
}

.post-item .post-date {
    margin-top: .5em;
    margin-right: 1em;
    width: 4em;
}

.post-item .post-title-and-tags .post-title {
    padding: 0 .1em 0 .3em;
    border-left: solid 2px #aa0000;
    font-size: 1.5em;
    margin: 0 0 0.3em;
}

.post-item .post-title-and-tags .post-tags {
    margin: -0.1em 0 0 0;
}

.post-item .post-title-and-tags .post-tags a {
    color: #666;
    font-size: 1em;
    padding: 1px;
}

.post-item .post-title-and-tags .post-tags a:before {
    content: "#";
    font-size: 100%;
    color: #aa0000;
}
